.container {
  overflow: hidden;
  display: flex;
  background: white;
  height: 100px;
}

.xp {
  margin-left: 10px;
}

.semi-circle {
  display: flex;
  background-color: red;
  width: 134%;
  height: 100%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  position: relative;
  left: -17%;
}

.full-width-div {
  height: 90px;
  background: blue;
}

.circle-div {
  height: 70px;
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  width: 70px;
  background: url('../assets/mark.jpg');
  background-size: contain;
}


.home-hexagon .home-content {
  z-index: 100;
  color: #FFFFFF;
  position: absolute;
  top: -2px !important;
  left: 7px !important;
  font-size: 12px;
}

.home-menu {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 35px;
  z-index: 10;
}
