<<<<<<< HEAD
body {
  background: #008B8D;
}

.home-container {
  overflow: hidden;
  display: flex;
  background: white;
  height: 100px;
}
.xp {
  margin: 10px;
}

.hexagon .content {
  z-index: 100;
  color: #FFFFFF;
  position: absolute;
  top: -2px !important;
  left: 7px !important;
  font-size: 12px;
}

.semi-circle {
  display: flex;
  background-color: red;
  width: 134%;
  height: 100%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  position: relative;
  left: -17%;
}

.full-width-div {
  margin-top: 80px;
  height: 90px;
  background: blue;
}
