.login-container {
  background-color: #F25F5C;
  overflow-x: hidden;
}

.login-semi-circle {
  display: flex;
  background-color: #F25F5C;
  width: 134%;
  height: 80%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  position: relative;
  left: -17%;
}

.login-full-width-div {
  height: 100px;
  background: linen;
}

.login-logo-container {
  height: 80px;
  display: flex;
  justify-content: center;
  background: linen;
  width: 25%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  margin-top: 35px;
  border: 3px solid darkgray;
}

.login-logo {
  border-radius: 50%;
  width: 80px;
  background: url('../assets/images/sword.svg');
  background-size: contain;
}

.login-body {
  background-color: linen;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.tab {
  text-align: center;
  font-size: 22px;
}

.tab.active {
  border-bottom: 2px solid black;
}

.box {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  border-radius: 10px;
}

.username {
  margin-bottom: 20px;
}

input {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
}
