.welcome-semi-circle {
  display: flex;
  background-color: #F25F5C;
  width: 134%;
  height: 80%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  position: relative;
  left: -17%;
}

.welcome-full-width-div {
  height: 100px;
  background: linen;
}
