.container {
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #FF5151;
  color: #FFFFFF;
  height: 100px;
}

.header .title {
  margin: 10px auto;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.header .details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header img {
  padding: 10px 10px 10px 30px;
  width: 40px;
}

.header .text {

}

.list {
  padding: 0 0px;
}

.item {
  color: #232323;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  height: 30px;
  border-top: 1px solid #F4F6F7;
  background: #FFFFFF;
  font-size: 14px;
}

.item:active {
  background-color: #008B8D;
}

.item:active .name,
.item:active .points {
  color: #FFFFFF;
}

.rank {
  color: #c4c5c6;
  font-weight: bold;
  width: 40px;
  text-align: center;
}

.photo {
  border-radius: 4px;
  /*border: 1px solid black;*/
  overflow: hidden;
  padding-right: 13px;
}

.name {
  flex: 1;
  padding: 0 0 0 10px;
}

.points {
  font-size: 18px;
  width: 60px;
  color: #777777;
}
